<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <style>
            @media only screen and (max-width: 480px) {
                body {width: 100% !important;}
                table{width: 100% !important;}
                td{width: 100% !important;}
                .desktop{display: none !important;}
                .mobile{display: initial !important;}
            }
        </style>

    </head>

    <body style="margin:0 auto; width:600px;overflow-x:hidden;font-family:Source Sans Pro,Arial,sans-serif;color:#777777;">

        <table width="600">

            <table width="600" height="120" style="background-color:#4caf50;text-align:center">
                <tr>
                    <td width="100%">*logo</td>
                </tr>
            </table>
            <table width="600" style="text-align:center; background-color:#FFFFFF;">
                <tr>
                    <td><br><p style="font-size:30px;display:inline;color:#777777;">*name,<br> 
*title
</p></td>
                </tr>
            </table>


            <table width="600" style="background-color:#FFFFFF;">
                <tr>
                    <td><p style="display:inline-block;margin-top:21px;text-align:center;font-size:22px;color:#777777;">*message<br><span style="color:#ff9800">Fecha: *dateTournament</span>
</p></td>
                </tr>
                <tr>
                    <td style="width:100%; text-align:center; padding-bottom:30px;">
                        <a href="https://twitter.com/tennisstar_arg">*twitter1</a>
                        <a href="https://www.facebook.com/Tennis-Star-277777479419703" style="margin:0 20px;">*facebook1</a>
                        <a href="https://www.instagram.com/tennisstar_arg/">*instagram1</a>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%; text-align:center;text-decoration:none;"><a href="https://www.tennis-star.com/tournament/*tournament_id" style="text-decoration:none"><span style="margin:0;font-size:17px;color:#FFFFFF;background-color:#4caf50;padding:12px;"><strong>Ver Torneo</strong></span><br><br><br><br></a></td>
                </tr>
            </table>

        </table>

    </body>

</html>
