<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><span>Admin Tennis-Star</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="{{ asset('images/perfil.jpg') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bienvenido</span>
                <h2>Usuario</h2>
            </div>
        </div>

        <br><br>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section active">
                <h3>General</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a href=""><i class="fa fa-bar-chart"></i>Inicio</a></li>
                </ul>
            </div>

            <div class="menu_section active">
                <h3>Entidades</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a><i class="fa fa-user"></i>Usuarios<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="">Agregar usuario</a></li>
                            <li><a href="">Ver usuarios</a></li>
                        </ul>
                    </li>
                    <ul class="nav side-menu" style="">
                        <li class=""><a href=""><i class="fa fa-credit-card"></i>Transacciones</a></li>
                    </ul>
                    <ul class="nav side-menu" style="">
                        <li class=""><a href=""><i class="fa fa-comments"></i>Ofertas</a></li>
                    </ul>
                </ul>
            </div>

            <div class="menu_section active">
                <h3>Personalizar página</h3>
                <ul class="nav side-menu" style="">
                    <li class=""><a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            <li><a href="">Slide</a></li>
                            <li><a href="">Tiendas</a></li>
                            <li class="active"><a>Categorias slide<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: block;">
                                    <li class="sub_menu"><a href="">Edición</a></li>
                                    <li><a href="">Orden</a></li>
                                </ul>
                            </li>
                            <li><a href="">Videos</a></li>
                        </ul>
                    </li>
            </div>

            <div class="menu_section active">
                <h3>Configurar página</h3>
                <ul class="nav side-menu" style="">
                    <li><a><i class="fa fa-usd"></i>Impuestos<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="">
                            <li><a href="">Agregar impuesto</a></li>
                            <li><a href="">Ver impuestos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>

    </div>
</div>